.customUrl {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr auto;
    max-width: 500px;
    margin: 0 0 20px 0;
}

.customUrl > * {
    outline: none;
}

.info {
    cursor: pointer;
    text-decoration: underline;
}

.customUrl > input[type='text'] {
    background-color: rgb(235, 235, 235);
    border: none;
    border-bottom: solid 2px rgb(39, 174, 96);
    border-right: solid 2px rgb(39, 174, 96);
    padding: 0 2px 0 15px;
}

.customUrl > input[type='submit'] {
    padding: 10px 15px;
    border: solid 2px rgb(39, 174, 96);
    background-color: rgb(39, 174, 96);
    color: white;
    cursor: pointer;
}

@media(max-width: 768px) {
    .customUrl {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
        max-width: none;
    }

    .customUrl > input[type='text'] {
        /* margin: 0 0 10px 0; */
        padding: 10px 3px 10px 8px;
        width: 100%;
        border-right: none;
    }

    .customUrl > input[type='submit'] {
        margin: 10px 0 0 0;
    }
}